/*홈페이지 라인간격 볼수 있음*/

/* {outline: 1px solid #f00;}

#wrap {}

/*헤더*/

/*#header {position:sticky;top:0;left:0;line-height:100px;width:100%;color:#333;transition:1s;z-index:999;}
#header:hover {background: #fff;color:#333;}
#header.on {background: #fff;color:#333;line-height:80px;}

/*헤더 - 로고*/

#header h1 img {width:200px; padding:10px 0;}
#header a {}

#header .container {position: relative; text-align: center;width:1200px;margin:0 auto;line-height:40px;}

/*헤더 - 로고 내비 오른쪽 글자*/

#header .right {position: absolute;top:25%;right:0;padding:0 15px;}
#header .right>ul {display:flex;font-size:14px;font-weight:300;}
#header .right>ul>li {position:relative;}
#header .right>ul>li>a {display:block;padding:0 10px;}
#header .right>ul>li~li:before {content:"";display:block;width:1px;height:10px;background: #333;position:absolute;top:15px;left:0;}

/*헤더 - 내비 글자 */
.container-full {border-top:1px solid#ddd;}
#header nav {padding:0 15px;margin:0 auto;}
#header nav>ul {display:flex;line-height:40px;}
#header nav>ul>li>a {display:block;padding:0 40px;}
#header nav>ul>li:last-child {}

/*헤더 - 내비 글자 다단메뉴*/

#header nav>ul>li {position:relative;}
#header nav>ul>li>ul {display:none; position: absolute;top:40px;left:50%;transform:translateX(-50%); width:100%;text-align: center; background: #fff;border: 1px solid#ddd;padding: 10px 0; z-index:1000;}
#header nav>ul>li>ul>li~li {border-top: 1px solid#ddd;}
#header nav>ul>li>ul>li>a {display: block; line-height:30px;background: #fff;position: relative;z-index:1;}
#header nav>ul>li>ul:before {content: "";display:block;width:15px;height:15px;background: #fff;border:1px solid#ddd;position: absolute;}
#header nav>ul>li:hover>ul {display: block;}

/*헤더 - 내비 글자 검색창*/

.gnb {display:flex;justify-content: space-between;align-items:center;}
#header .header_form {border:1px solid #333;line-height:1;}
#header .header_search input{border:none;outline:none;padding:0 5px;}
#header .header_search button {background:none;border:none;}
#header .header_search i {font-size:14px;color:#333;margin-left:0 auto;padding-right:15px; }




/*메인 비주얼 - 사진넣기 */

#main_visual {position: relative;}
#main_visual  figure {height:600px; position: relative;}
#main_visual .itm01 {background:url(../img/main_visual01.jpg) no-repeat center center/cover;}
#main_visual .itm02 {background:url(../img/main_visual02.jpg) no-repeat center center/cover}
#main_visual .itm03 {background:url(../img/main_visual03.jpg) no-repeat center center/cover}
#main_visual .itm04 {background:url(../img/main_visual04.jpg) no-repeat center center/cover}

/*버튼*/
#main_visual .main_slider .slick-dots {display:flex;position:absolute;bottom:30px;left:50%;transform:translateX(-50%)}
#main_visual .main_slider .slick-dots li{border:1px solid #fff ;width:10px;height:10px; border-radius:50%; margin:0 15px;}
#main_visual .main_slider .slick-dots li.slick-active{background:#fff;}
#main_visual .main_slider .slick-dots li button {display:none;}

/*메인 비주얼 - 글자넣기01*/

#main_visual figure .slg {position: absolute;top:50%;left:50%;width:1200px;padding:0 15px;transform:translate(-50%,-50%);color: #f4f4f4;text-align: center;line-height:1.2;}
#main_visual figure .slg  h2 {font-size:50px;font-weight:100;letter-spacing:0.1em;}  
#main_visual figure .slg  sub {font-size:50px;font-weight:500;letter-spacing:0.1em;vertical-align: baseline;font-size: inherit;}  
#main_visual figure .slg  p {font-size:20px;font-weight:300;line-height:1.2;color:#f4f4f4;line-height:1.2;letter-spacing:0.1em;margin-top:20px;}  



/*메인 비주얼 - 글자넣기02*/

#main_visual figure.itm02 {position: relative;}

#main_visual figure.itm02 .slg {position: absolute;top:50%;left:50%;width:1200px;padding:0 15px;transform:translate(-50%,-50%);color: #333;text-align:left;line-height:1.2;}

#main_visual figure.itm02 .slg h2 {font-size:50px;font-weight:700;letter-spacing:-0.025em;margin-bottom:1px;}

#main_visual figure.itm02 .slg p {font-size:30px;font-weight:400;letter-spacing:-0.025em;color: #333}
#main_visual figure.itm02 .slg span {display:flex;font-size:18px;font-weight:500;letter-spacing:-0.025em;line-height:1.2;color:#40bfdf;position:absolute;top:150%; left:53%;}

/*메인 비주얼 - 글자넣기03*/

#main_visual figure.itm03 {position: relative;}

#main_visual figure.itm03 .slg {position: absolute;top:50%;left:50%;width:1200px;padding:0 15px;transform:translate(-50%,-50%);color: #333;text-align:left;line-height:1.2;}

#main_visual figure.itm03 .slg h2 {font-size:30px;font-weight:500;letter-spacing:-0.025em;color: #333;}

#main_visual figure.itm03 .slg p {font-size:50px;font-weight:700;letter-spacing:-0.025em;color: #333;margin-bottom:10px;}

#main_visual figure.itm03 .slg strong {display:block;font-size:18px;font-weight:500;letter-spacing:-0.025em;line-height:1.2;}

/*메인 비주얼 - 글자넣기04*/

#main_visual figure.itm04 {position: relative;}

#main_visual figure.itm04 .slg {position: absolute;top:50%;left:50%;width:1200px;padding:0 15px;transform:translate(-50%,-50%);color: #333;text-align:left;line-height:1.2;}

#main_visual figure.itm04 .slg h2 {font-size:30px;font-weight:500;letter-spacing:-0.025em;color: #333;}

#main_visual figure.itm04 .slg p {font-size:50px;font-weight:700;letter-spacing:-0.025em;color: #333;margin-bottom:10px;}

#main_visual figure.itm04 .slg strong {display:block;font-size:18px;font-weight:500;letter-spacing:-0.025em;line-height:1.2;}

/*메인 비주얼 - 화살표*/

#main_visual .main_btn i {position:absolute;top: 44%;padding:10px; background:rgba(0,0,0,0.5);color:#f4f4f4; font-size:30px;border-radius:50%;cursor:pointer;}
#main_visual .main_btn i.xi-angle-left-thin {left:100px;}
#main_visual .main_btn i.xi-angle-right-thin {right:100px;}


/*첫번째 섹션 - 글자*/

#content01 {position: relative; padding:150px 0;text-align:center;color:#333;}
#content01 h2 {font-size:30px;font-weight:500;margin-bottom:12px;letter-spacing:-0.025em;}
#content01 p {font-size:18px; font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}

/*첫번째 섹션 - 사진*/

#content01 .container {width:1200px;margin:0 auto;}
#content01 .container figure {padding:0 15px;}
#content01 .container figure img {max-width:100%;border-radius:25px;transition:0.4s;}
#content01 .case {margin-bottom:25px;overflow:hidden;}
#content01 .container figure:hover img {transform:scale(1.1);}

/*첫번째 섹션 - 글자밑에글자*/

#content01 strong {display:block; font-size:16px;font-weight:400;margin-bottom:5px;}
#content01 span {font-size:14px;font-weight:700;}


/*첫번째 섹션 - 아이콘*/

#content01 .btn {}
#content01 .btn i {position:absolute;top:53%;left:50%;transform:translate(-50%,-50%);font-size:40px;padding:10px;background:#fff;border-radius: 50%;cursor: pointer;}
#content01 .btn i.xi-angle-left-thin {margin-left:-635px;}
#content01 .btn i.xi-angle-right-thin {margin-left:635px;}

/*첫번째 섹션 - 바 움직이는거*/

#content01 .slide_bar {position:relative; width:800px;height:5px;background: #ddd;border-radius:3px;margin:30px auto;overflow:hidden;cursor: pointer;}
#content01 .slide_bar>span {display:block;width:100px;height:5px;border-radius:3px;background: #333;position: absolute;top:0;left:0;transition:0.5s;cursor: pointer;}

/*두번째 섹션 - 글자*/

#content02 {padding:150px 0;text-align: center;background: #f4f4f4;}
#content02 h2 {font-size:30px;font-weight:500;margin-bottom:12px;letter-spacing:-0.025em;}
#content02 p {font-size:18px; font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}


/*두번째 섹션 - 사진과 글자*/

#content02 .container {position: relative; display:flex;flex-wrap:wrap; width:1200px;margin:0 auto;padding:0 15px;}
#content02 .container figure {}
#content02 img {max-width:100%;}

#content02 .dis {position: absolute;top:5%;right:52%; text-align:right;}
#content02 .dis h3 {font-size:22px;font-weight:300;margin-bottom:10px;letter-spacing:-0.025em;}
#content02 .dis h3:after {content:"";display:block;width:30px;height:3px;background: #333;margin:15px 0 0 auto}
#content02 .dis p {font-size:27px;font-weight:500;letter-spacing:-0.025em;}

/*두번째 섹션 - 사진과 글자02*/

#content02 .con {}
#content02 .con01~.con01 {border-top:2px solid #ddd;}
#content02 .con01 { display:flex;width:585px;height:150px; background: #fff;margin:0 auto;justify-content:space-between;align-items:center;}
#content02 .con01 figure {padding:15px;}
#content02 .con01 img {border-radius:50%;width:120px;}

#content02 .con02_d {}
#content02 strong {display:block; font-size:20px;font-weight:300;margin-bottom:15px;}
#content02 span {font-size:16px;font-weight:700;}
#content02 i {font-size:30px;padding:10px;background:#ddd; border-radius: 50%;cursor: pointer;margin-right:15px;}


/*세번째 섹션 - 글자*/

#content03 {padding:150px 0;text-align: center;}
#content03 .container {width:1200px;margin:0 auto;}
#content03 h2 {font-size:30px;font-weight:500;margin-bottom:1px;letter-spacing:-0.025em;}
#content03 p {font-size:18px; font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}

/*세번째 섹션 - 글자 가운데*/

#content03 .tab_menu {display: flex;justify-content: center;margin-bottom: 50px;}
#content03 .tab_menu li {display:block;line-height:40px;padding:0 20px;}

#content03 .tab_menu li a {padding: 8px 25px;font-size:14px;color:#777;background: #fafafa;border:1px solid #ddd;border-radius:25px;letter-spacing:-0.025em;}
#content03 .tab_menu li.on a {padding: 8px 25px;font-size:14px;color:#333;background: #fff;border:1px solid #333;border-radius:25px;letter-spacing:-0.025em;}

/*세번째 섹션 - 사진*/

#content03 .tab_con {position: relative;}
#content03 .tab_con .tab_b {display:none;}
#content03 .tab_con figure {padding:0 15px;}
#content03 .tab_con figure img {width:100%;}
#content03 .tab_con>div {display:none;}
#content03 .tab_con>div.on {display:flex;}

/*네번째 섹션 - 글자*/

#content04 {padding:150px 0;text-align: center;background: #f4f4f4;}
#content04 h2 {font-size:30px;font-weight:500;margin-bottom:12px;letter-spacing:-0.025em;}

/*네번째 섹션 - 사진01*/

#content04 .container {position: relative;display:flex;width:1200px;margin:0 auto;padding:0 15px;}
#content04 .container figure {} 
#content04 .container img {max-width:100%;}

/*네번째 섹션 - 사진02*/

#content04 .con04_d {display:flex;padding:58px 0; width:580px;height:305px;background: #fff;margin-top:15px;}
#content04 .con04_d figure {}
#content04 .con04_d figure img{max-width:100%;padding:0 2px;}

/*네번째 섹션 - 글자01*/

#content04 .con04_dd {position: absolute;top:5%;left:3%;text-align: left;}
#content04 .con04_dd h3 {font-size:22px;font-weight:400;margin-bottom:20px;}
#content04 .con04_dd strong {font-size:35px;font-weight:700;}
#content04 .con04_dd sub {font-size:30px;font-weight:400;}
#content04 .con04_dd .price {margin-top:30px;border:1px solid #333;padding:8px;border-radius:10px;cursor: pointer;width:140px;} 
#content04 .con04_dd .price:hover {background: #ddd;}

#content04 .con04_dd span {display:block;font-size:20px;font-weight:400;letter-spacing:0.3em;text-align: center;}























