/*홈페이지 라인간격 볼수 있음*/
*{outline: 1px solid #f00;}
:root {
    --mc:#036b3f;
    --lc:#b8f329;
    --dc:#444444;
    --gc : #21ba31;
    --ff : #f2f2f2;
}

html {font-size:20px;}
body {font-size:0.8rem;}
#wrap {}

@media screen and (max-width:768px) {
    html {font-size:20px;}
    body {font-size:0.8rem;}
    #wrap {}

}

/*헤더 - 고정 */

.herder {line-height:40px;color:#f3f3f3;transition:1s;z-index:888;background:#333;}
.herder .container {width:60rem; margin:0 auto;padding:0 15px;}

/* 헤더 - 상단메뉴 */
.hd_t  {}
.hd_t>nav {display:flex;justify-content:space-between;}
.hd_t>nav>ul {display:flex;font-size:13px;font-weight:400;}
.hd_t>nav>ul>li>a {display:block;padding:0 15px;}
.hd_t>nav>ul>li {position: relative;}
.hd_t>nav>ul>li~li:after {content:"";display:block;width:1px;height:11px;background:#999;position:absolute;top:40%;left:0;}

.hd_s {display:block;width:40px;height:40px;background:#555;line-height:40px;font-size:18px;cursor:pointer;transition:0.3s;overflow:hidden;padding:3px;text-align: center;}
.hd_s i {position:relative;top:-2px;}
.hd-s.on i {}

/* 검색창 */
.search {display:none;text-align:center;padding:25px;border-top:1px solid #999;}
.search form {border-bottom:2px solid #fff;display:inline-block;}
.search input {background:none;border:none;}
.search form button {font-size:20px;}

/*헤더 - 고정*/
.hd {position:sticky;top:0;left:0;line-height:3rem;width:100%;color:#333;transition:1s;z-index:999;border-bottom:1px solid #ddd}
.hd:hover {background: #fff;color:#333;border-bottom:1px solid#ddd;}
.hd.on {background: #fff;color:#333;line-height:3rem;}

/*헤더 - 로고*/
.hd .container {display:flex;justify-content:space-between;width:60rem;margin:0 auto;padding:0 0.75rem;color:#333;}
.hd h1 img {width:10rem;}
.hd  a {display:block;}

.gnb {}
.gnb .depth01 {display:flex;font-size:0.8rem;font-weight:400;}
.gnb .depth01>li>a {display:block;padding:0 30px;}
.gnb .depth01>li {position: relative;}
.gnb .depth01>li>a:hover {display: block; color: var(--mc);}

.gnb .depth01>li>a:after {content:"";display: block;width:0;height:3px;background:transparent;position:absolute;bottom:0;left:50%;transform:translateX(-50%); transition:0.3s;}

.gnb .depth01>li>a:hover:after {width:100%;}



/*메인 비주얼 - 사진넣기 */

.main_visual {position: relative;}
.main_visual figure {height:600px;position: relative;}
.main_visual .itm01 {background:url(../img/main_visual01.jpg)no-repeat center center/cover;}
.main_visual .itm02 {background:url(../img/main_visual02.jpg)no-repeat center center/cover;}
.main_visual .itm03 {background:url(../img/main_visual03.jpg)no-repeat center center/cover;}
.main_visual .itm04 {background:url(../img/main_visual04.jpg)no-repeat center center/cover;}

/*버튼*/

.main_visual .main_slider .slick-dots {position: absolute;bottom:30px;left:0;width:100%; text-align:center;z-index:333;}
.main_visual .main_slider .slick-dots li {display:inline-block;width:4rem;height:0.2rem;background: rgba(0, 0, 0, 0.5);border-radius: 0.1rem;margin:0 0.25rem;overflow: hidden;}
.main_visual .main_slider .slick-dots li:after {content:"";display:block;width:0;height:100%;background:#77c4d5;}
.main_visual .main_slider .slick-dots li.slick-active:after {width:100%;transition:3s;}
.main_visual .main_slider .slick-dots li button {display:none;}


/*메인 비주얼 - 글자넣기01*/

.main_visual figure .slg {position:absolute;top:45%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align: center;line-height:1;}
.main_visual figure .slg strong {display:block;font-size:30px;font-weight:500;letter-spacing:-0.025rem;margin-bottom:30px;}
.main_visual figure .slg h2 {font-size:2.7rem;font-weight:700;letter-spacing:0.5em;margin-bottom:0.95rem;}
.main_visual figure .slg p {font-size:1.3rem;font-weight:500;letter-spacing:0.1em;margin-bottom:0.75rem;}
.main_visual figure .slg span {font-size:1.3rem;font-weight:700;letter-spacing:0.1em;margin-bottom:0.75rem;color:var(--mc);vertical-align: baseline;font-size: inherit;}

/*메인 비주얼 - 글자넣기02*/
.main_visual figure.itm02 {position: relative;}
.main_visual figure.itm02 .slg {position:absolute;top:45%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:var(--ff);text-align:center;line-height:1;text-shadow:1px 0 2px #333;}
.main_visual figure.itm02 .slg strong {display:block;font-size:30px;font-weight:500;letter-spacing:-0.025rem;margin-bottom:30px;}
.main_visual figure.itm02 .slg h2 {font-size:2.7rem;font-weight:700;letter-spacing:0.5em;margin-bottom:0.95rem;}
.main_visual figure.itm02 .slg p {font-size:1.3rem;font-weight:500;letter-spacing:0.1em;margin-bottom:0.75rem;}
.main_visual figure.itm02 .slg span {font-size:1.3rem;font-weight:700;letter-spacing:0.1em;margin-bottom:0.75rem;color:var(--mc);vertical-align: baseline;font-size: inherit;}

/*메인 비주얼 - 글자넣기02*/
.main_visual figure.itm03 {position: relative;}
.main_visual figure.itm03 .slg {position:absolute;top:45%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:var(--ff);text-align:center;line-height:1;text-shadow:1px 0 2px #000;}
.main_visual figure.itm03 .slg strong {display:block;font-size:30px;font-weight:500;letter-spacing:-0.025rem;margin-bottom:30px;}
.main_visual figure.itm03 .slg h2 {font-size:2.7rem;font-weight:700;letter-spacing:0.5em;margin-bottom:0.95rem;}
.main_visual figure.itm03 .slg p {font-size:1.3rem;font-weight:500;letter-spacing:0.1em;margin-bottom:0.75rem;}
.main_visual figure.itm03 .slg span {font-size:1.3rem;font-weight:700;letter-spacing:0.1em;margin-bottom:0.75rem;color:var(--mc);vertical-align: baseline;font-size: inherit;}


/*첫번째 섹션 - 퀵메뉴 링크*/
.content01 .link {position:absolute;top:640px;left:50%;transform:translateX(-50%);width:60rem;overflow:hidden;z-index:888;height:130px;box-shadow:1px 0 7px #555;}
.link_wrap {display:flex;}
.link figure {width:12.5%;padding:15px 0px;text-align:center;background:#fff;border-right:1px solid #ddd;transition:0.3s;}
.link figure:last-child {border-right:none;}
.link figure:hover {background:#b0cda6;}
.link figure a {display:block;padding-bottom:10px;}
.link figure i {font-size:45px;padding:7px;color:var(--mc);}

/*두번째 섹션 - 글자*/

.content02 {padding:260px 0 50px;text-align:center;position: relative;}
.content02 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:0.025em;margin-bottom:1.5rem;}
.content02 span {font-size:1.5rem;font-weight:900;margin-bottom:1.5rem;letter-spacing:0.025em;color:var(--mc);}


.content02 .container {position:relative; display:flex;width:60rem;margin:0 auto;overflow:hidden;padding:0 15px;}
.content02 .container>div {width:50%;}
.content02 .container .notice  { overflow:hidden;}
.content02 .container  img {width:100%;}
.content02 .container .itm {}
.c02_t {width:50px;line-height:2rem;position: relative;background:#ddd;}
.c02_t h3 {font-size:1rem;}
.c02_t>i {font-size:1rem;display:flex;position:absolute;top:0;}



.dis strong {display:block;font-size:1rem;}
.dis .txt {display:block;font-size:1rem;overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
}


