@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*홈페이지 라인간격 볼수 있음*/

 *{outline: 1px solid #f00--;}

html {font-size:20px;}
body {font-size:0.8rem;}
#wrap {}

@media screen and (max-width:768px) {
    html {font-size:20px;}
    body {font-size:0.8rem;}
    #wrap {}

}

/*헤더 - 고정 */

.herder {position:sticky;top:0;left:0;line-height:4rem;width:100%;color:#333;transition:1s;z-index:888;}
.herder:hover {background: #fff;color:#333;border-bottom:1px solid#ddd;}
.herder.on {background: #fff;color:#333;line-height:4rem;}

@media screen and (max-width:768px) {
    /*헤더 - 고정 */

    .herder {position:sticky;top:0;left:0;line-height:4rem;width:100%;color:#333;transition:1s;z-index:888;}
    .herder:hover {background: #fff;color:#333;border-bottom:1px solid#ddd;}
    .herder.on {background: #fff;color:#333;line-height:4rem;border-bottom:1px solid#333;display:none;}

}

/*헤더 - 로고*/

.herder h1 img {width:10rem;}
.herder a {display: block;}
.herder .container {display:flex;justify-content:space-between;width:60rem;margin:0 auto;padding:0 0.75rem;}

@media screen and (max-width:768px) {
    /*헤더 - 로고*/

    .herder h1 img {width:10rem;}
    .herder a {display: block;}
    .herder .container {display:flex;justify-content:space-between;width:auto;margin:0 auto;padding:0 0.75rem;}

}

/*헤더 - 내비*/

.gnb {}
.gnb .depth01 {display:flex;font-size:0.8rem;font-weight:400;}
.gnb .depth01>li>a {display:block;padding:0 35px;}
.gnb .depth01>li {position: relative;}
.gnb .depth01>li>a:hover {display: block; color: #77c4d5;}
.gnb .depth01>li>a:after {content:"";display: block;width:0;height:3px;background:#77c4d5;position:absolute;bottom:0;left:50%;transform:translateX(-50%); transition:0.3s;}
.gnb .depth01>li>a:hover:after {width:100%;}

@media screen and (max-width:768px) {
    .gnb {margin-left:auto;position:fixed;top:0;left:-100%;background: #fff;border-right:1px solid #ddd; width:calc(100% - 80px); height:100vh;transition:0.4s;  z-index:999;}
    .gnb.on {left:0;}

    .gnb .depth01 {display:flex;font-size:0.8rem;font-weight:300;}
    .gnb .depth01.on {left:0;}
    .gnb .depth01>li>a {display:block;padding:0 35px;}
    .gnb .depth01>li {position: relative;}
    .gnb .depth01>li>a:hover {display: block; color:#77c4d5;}
    .gnb .depth01>li>a:after {content:"";display:block;width:0;height:4px;background:#77c4d5;position:absolute;bottom:0;left:50%;transform:translateX(-50%); transition:0.3s;}
    .gnb .depth01>li>a:hover:after {width:100%;}

}

/*헤더 - 내비 다단메뉴*/

.gnb .depth02 {font-size:0.65rem; height:0;overflow:hidden; position: absolute;top:4rem;left:0;width:100%;transition:0.5s;letter-spacing:0.1rem; z-index:999;}

.gnb .depth02 li:hover {display: block; color:#77c4d5;}

.gnb:before {content: "";display:block;width:100%;height:0;background: rgba(255, 255, 255,0.8);position:absolute;top:4rem;left:0;transition:0.5s; z-index:999;}
.gnb:hover:before {height:10rem;}
.gnb:hover .depth02 {height:10rem;}

.gnb .depth02>li>a {display:block;line-height:1.5rem;text-align: center;}
.gnb .depth02>li~li>a {border-top: 1px solid #ddd;}

@media screen and (max-width:768px) {
    /*헤더 - 내비 다단메뉴*/

    .gnb .depth02 {font-size:0.65rem; height:0;overflow:hidden; position: absolute;top:4rem;left:0;width:100%;transition:0.5s;letter-spacing:0.1rem; z-index:999;}

    .gnb .depth02 li:hover {display: block; color:#77c4d5;}

    .gnb:before {content: "";display:block;width:100%;height:0;background: rgba(255, 255, 255,0.8);position:absolute;top:4rem;left:0;transition:0.5s; z-index:999;}
    .gnb:hover:before {height:10rem;}
    .gnb:hover .depth02 {height:10rem;}

    .gnb .depth02>li>a {display:block;line-height:1.5rem;text-align: center;}
    .gnb .depth02>li~li>a {border-top: 1px solid #ddd;}

}

/*헤더 - 오른쪽 내비 아이콘*/

.herder .right {cursor: pointer;}
.herder .right i {font-size:20px;margin-left:20px;}


@media screen and (max-width:768px) {
    .herder .right {cursor: pointer;}
    .herder .right i {font-size:20px;margin-left:20px;}

}

/*메인 비주얼 - 사진넣기 */

.main_visual {position: relative;}
.main_visual figure {height:600px;position: relative;}
.main_visual .itm01 {background:url(../img/main_visual01.jpg)no-repeat center center/cover;}
.main_visual .itm02 {background:url(../img/main_visual02.jpg)no-repeat center center/cover;}
.main_visual .itm03 {background:url(../img/main_visual03.jpg)no-repeat center center/cover;}

@media screen and (max-width:768px) {
    /*메인 비주얼 - 사진넣기 */

    .main_visual {position: relative;}
    .main_visual figure {height:600px;position: relative;}
    .main_visual .itm01 {background:url(../img/main_visual01.jpg)no-repeat center center/cover;}
    .main_visual .itm02 {background:url(../img/main_visual02.jpg)no-repeat center center/cover;}
    .main_visual .itm03 {background:url(../img/main_visual03.jpg)no-repeat center center/cover;}    
}

/*버튼*/

.main_visual .main_slider .slick-dots {position: absolute;bottom:30px;left:0;width:100%; text-align:center;z-index:999;}
.main_visual .main_slider .slick-dots li {display:inline-block;width:4rem;height:0.2rem;background: rgba(0, 0, 0, 0.5);border-radius: 0.1rem;margin:0 0.25rem;overflow: hidden;}
.main_visual .main_slider .slick-dots li:after {content:"";display:block;width:0;height:100%;background:#77c4d5;}
.main_visual .main_slider .slick-dots li.slick-active:after {width:100%;transition:3s;}
.main_visual .main_slider .slick-dots li button {display:none;}

@media screen and (max-width:768px) {
    /*버튼*/

    .main_visual .main_slider .slick-dots {position: absolute;bottom:30px;left:0;width:100%; text-align:center;z-index:999;}
    .main_visual .main_slider .slick-dots li {display:inline-block;width:4rem;height:0.2rem;background: rgba(0, 0, 0, 0.5);border-radius: 0.1rem;margin:0 0.25rem;overflow: hidden;}
    .main_visual .main_slider .slick-dots li:after {content:"";display:block;width:0;height:100%;background:#77c4d5;}
    .main_visual .main_slider .slick-dots li.slick-active:after {width:100%;transition:3s;}
    .main_visual .main_slider .slick-dots li button {display:none;}
}

/*메인 비주얼 - 글자넣기01*/

.main_visual figure .slg {position:absolute;top:55%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align: center;line-height:1;}
.main_visual figure .slg h2 {font-size:0.8rem;font-weight:400;letter-spacing:0.5em;margin-bottom:0.95rem;}
.main_visual figure .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:12px 565px;}
.main_visual figure .slg p {font-size:2.5rem;font-weight:500;letter-spacing:0.1em;font-family: 'Noto Serif', 'Noto Sans KR';margin-bottom:0.75rem;}
.main_visual figure .slg strong {display:block;font-size:18px;font-weight:400;letter-spacing:-0.025rem;}

/*메인 비주얼 - 글자넣기02*/

.main_visual figure.itm02 {position: relative;}
.main_visual figure.itm02 .slg {position:absolute;top:50%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;line-height:1.2;}
.main_visual figure.itm02 .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:0.6rem 0;}

/*메인 비주얼 - 글자넣기03*/

.main_visual figure.itm03 {position: relative;}
.main_visual figure.itm03 .slg {position:absolute;top:50%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;line-height:1.2;}
.main_visual figure.itm03 .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:0.6rem 0;}
.main_visual figure.itm03 .slg strong {line-height:1.3;}


@media screen and (max-width:768px) {
    /*메인 비주얼 - 글자넣기01*/

    .main_visual figure .slg {position:absolute;top:55%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align: center;line-height:1;}
    .main_visual figure .slg h2 {font-size:0.8rem;font-weight:400;letter-spacing:0.5em;margin-bottom:0.95rem;}
    .main_visual figure .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:12px 565px;}
    .main_visual figure .slg p {font-size:2.5rem;font-weight:500;letter-spacing:0.1em;font-family: 'Noto Serif', 'Noto Sans KR';margin-bottom:0.75rem;}
    .main_visual figure .slg strong {display:block;font-size:18px;font-weight:400;letter-spacing:-0.025rem;}

    /*메인 비주얼 - 글자넣기02*/

    .main_visual figure.itm02 {position: relative;}
    .main_visual figure.itm02 .slg {position:absolute;top:50%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;line-height:1.2;}
    .main_visual figure.itm02 .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:0.6rem 0;}

    /*메인 비주얼 - 글자넣기03*/

    .main_visual figure.itm03 {position: relative;}
    .main_visual figure.itm03 .slg {position:absolute;top:50%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;line-height:1.2;}
    .main_visual figure.itm03 .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:0.6rem 0;}
    .main_visual figure.itm03 .slg strong {line-height:1.3;}
        
}

/*메인 비주얼 - 화살표*/

.main_visual .main_btn i {position:absolute;top: 44%;padding:0.5rem; background:rgba(0,0,0,0.5);color:#f4f4f4;font-size:1.5rem;border-radius:50%;cursor:pointer;}
.main_visual .main_btn i.xi-angle-left-thin {left:100px;}
.main_visual .main_btn i.xi-angle-right-thin {right:100px;}

@media screen and (max-width:768px) {
    /*메인 비주얼 - 화살표*/
    .main_visual .main_btn i {position:absolute;top: 44%;padding:0.5rem; background:rgba(0,0,0,0.5);color:#f4f4f4; font-size:1.5rem;border-radius:50%;cursor:pointer;}
    .main_visual .main_btn i.xi-angle-left-thin {left:100px;}
    .main_visual .main_btn i.xi-angle-right-thin {right:100px;}
}

/*첫번째 섹션 - 글자*/

.content01 {position: relative; padding:7.5rem 0;text-align:center;color:#333;}
.content01 h2 img {width:6rem;margin-bottom:0.75rem;}
.content01 h2 a {display: block;}
.content01 p {font-size:0.75rem; font-weight:400;margin-bottom:2.5rem;letter-spacing:-0.025em;line-height:1.5;}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 글자*/

    .content01 {position: relative; padding:7.5rem 0;text-align:center;color:#333;}
    .content01 h2 img {width:6rem;margin-bottom:0.75rem;}
    .content01 h2 a {display: block;}
    .content01 p {font-size:0.75rem; font-weight:400;margin-bottom:2.5rem;letter-spacing:-0.025em;line-height:1.5;}
}

/*첫번째 섹션 - 사진01 */

.content01 .container {position:relative; width:60rem;margin:0 auto;padding:0 15px;}
.content01 .container:after {content:"+ more"; position: absolute;top:0;right:0;cursor: pointer;}
.content01>figure {display:block;}
.content01 figure {border-radius:50%;width:400px;height:400px;background: #f2f2f2;margin:0 auto;}
.content01 figure img {max-width:100%;border-radius:50%;}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 사진01 */

    .content01 .container {position:relative; width:60rem;margin:0 auto;padding:0 15px;}
    .content01 .container:after {content:"+ more"; position: absolute;top:0;right:0;cursor: pointer;}
    .content01>figure {display:block;}
    .content01 figure {border-radius:50%;width:400px;height:400px;background: #f2f2f2;margin:0 auto;}
    .content01 figure img {max-width:100%;border-radius:50%;}
}

/*첫번째 섹션 - 사진02 */

.content01 .con01 {display:flex;margin-top:3.25rem;}
.content01 .con01 figure {border-radius:50%;width:270px;height:270px;background: #f2f2f2;}
.content01 .con01 figure img {max-width:100%;border-radius:50%;}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 사진02 */

    .content01 .con01 {display:flex;margin-top:3.25rem;}
    .content01 .con01 figure {border-radius:50%;width:270px;height:270px;background: #f2f2f2;}
    .content01 .con01 figure img {max-width:100%;border-radius:50%;}
}

/*첫번째 섹션 - 글자밑에글자*/

.content01 strong {display:block;margin-top:0.5rem;font-size:0.75rem;font-weight:400;}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 글자밑에글자*/

    .content01 strong {display:block;margin-top:0.5rem;font-size:0.75rem;font-weight:400;}
}

/*두번째 섹션 - 글자*/

.content02 {padding:150px 0 100px;text-align:center;background: #f2f2f2;position: relative;}
.content02 h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:30px;font-weight:500;margin-bottom:30px;letter-spacing:0.025em;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 글자*/

    .content02 {padding:150px 0 100px;text-align:center;background: #f2f2f2;position: relative;}
    .content02 h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:30px;font-weight:500;margin-bottom:30px;letter-spacing:0.025em;}
}

/*두번째 섹션 - 사진과 밑 글자*/

.content02 .container {position:relative; display:flex;width:1200px;margin:0 auto;flex-flow:column wrap;max-height:800px;max-width:1200px;justify-content: space-between;}
.content02 .container>div {padding:0 15px 50px;}
.content02 .container img {width:100%;margin-bottom:15px;}
.content02  strong {display: block;font-size:20px;font-weight:400;margin-bottom:5px;letter-spacing:-0.025rem;}
.content02  span {display:block; font-size:15px;font-weight:300;letter-spacing:-0.025rem;}
.content02 .pic {position: relative;}
.content02 .pic .link {display:none;width:100%; position:absolute;bottom:110px;left:0;}
.content02 .con02 {position: relative;}
.content02 .con02 .link {display:none;width:100%; position: absolute;bottom:110px;left:0;}

.content02 i {font-size:25px;padding:10px;background:rgba(233, 233, 233, 0.5); color: #666; border-radius:50%;cursor: pointer;margin:8px;}
.content02 .pic:hover .link {display:block;}
.content02 .con02:hover .link {display:block;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 사진과 밑 글자*/

    .content02 .container {position:relative; display:flex;width:1200px;margin:0 auto;flex-flow:column wrap;max-height:800px;max-width:1200px;justify-content: space-between;}
    .content02 .container>div {padding:0 15px 50px;}
    .content02 .container img {width:100%;margin-bottom:15px;}
    .content02  strong {display: block;font-size:20px;font-weight:400;margin-bottom:5px;letter-spacing:-0.025rem;}
    .content02  span {display:block; font-size:15px;font-weight:300;letter-spacing:-0.025rem;}
    .content02 .pic {position: relative;}
    .content02 .pic .link {display:none;width:100%; position:absolute;bottom:110px;left:0;}
    .content02 .con02 {position: relative;}
    .content02 .con02 .link {display:none;width:100%; position: absolute;bottom:110px;left:0;}

    .content02 i {font-size:25px;padding:10px;background:rgba(233, 233, 233, 0.5); color: #666; border-radius:50%;cursor: pointer;margin:8px;}
    .content02 .pic:hover .link {display:block;}
    .content02 .con02:hover .link {display:block;}
}

/*두번째 섹션 - 화살표*/

.content02 .con02_btn i {position:absolute;top:50%;transform:translate(-50%,-50%);font-size:40px;padding:10px;background:transparent;border-radius: 50%;cursor: pointer;}
.content02 .con02_btn i.xi-angle-left-thin {left:330px;}
.content02 .con02_btn i.xi-angle-right-thin {right:270px;}

@media screen and (max-width:768px) {}

/*세번째 섹션 - 글자*/

.content03 {padding:150px 0;}
.content03 .container {display:flex;width:60rem;margin:0 auto;padding:0 15px;}

.content03 .con03 {flex:1;padding:0 30px;text-align:center;}
.content03 .con03 .con03_dis {position: relative;margin:94px 0;}
.content03 .con03 .con03_dis h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:30px;font-weight:500;margin-bottom:20px;letter-spacing:0.025rem}
.content03 .con03 .con03_dis p {font-size:18px;font-weight:400;margin-bottom:45px;letter-spacing:-0.025rem;line-height:1.3;}
.content03 .con03 .con03_dis .pre {cursor: pointer;}
.content03 .con03 .con03_dis .pre em {display:inline-block;font-size:18px;font-weight:400;letter-spacing:0.1rem;border:1px solid #77c4d5;padding:10px 50px;position:relative;overflow: hidden;}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 글자*/

    .content03 {padding:150px 0;}
    .content03 .container {display:flex;width:60rem;margin:0 auto;padding:0 15px;}

    .content03 .con03 {flex:1;padding:0 30px;text-align:center;}
    .content03 .con03 .con03_dis {position: relative;margin:94px 0;}
    .content03 .con03 .con03_dis h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:30px;font-weight:500;margin-bottom:20px;letter-spacing:0.025rem}
    .content03 .con03 .con03_dis p {font-size:18px;font-weight:400;margin-bottom:45px;letter-spacing:-0.025rem;line-height:1.3;}
    .content03 .con03 .con03_dis .pre {cursor: pointer;}
    .content03 .con03 .con03_dis .pre em {display:inline-block;font-size:18px;font-weight:400;letter-spacing:0.1rem;border:1px solid #77c4d5;padding:10px 50px;position:relative;overflow: hidden;}

}

/*세번째 섹션 - 사각형 박스에 색깔나오는거*/

.content03 .con03 .con03_dis .pre em:before {content:"";display:block;width:0;height:100%;background: rgba(119, 196, 213, 0.3); position:absolute;top:0;left:0;transition:0.5s; z-index:1;}
.content03 .con03 .con03_dis .pre em:hover:before {width:100%;position: absolute;top: 0;left: 0;}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 사각형 박스에 색깔나오는거*/

    .content03 .con03 .con03_dis .pre em:before {content:"";display:block;width:0;height:100%;background: rgba(119, 196, 213, 0.3); position:absolute;top:0;left:0;transition:0.5s; z-index:1;}
    .content03 .con03 .con03_dis .pre em:hover:before {width:100%;position: absolute;top: 0;left: 0;}
}

/*세번째 섹션 - 사진*/

.content03 figure {flex:1;}
.content03 img {}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 사진*/

    .content03 figure {flex:1;}
    .content03 img {}
}

/*네번째 섹션 - 글자*/

.content04 {padding:150px 0;background:#f2f2f2;}
.content04 h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:30px;font-weight:500;margin-bottom:30px;letter-spacing:0.025em;text-align: center;}

/*네번째 섹션 - 사진*/

.content04 .container {width:1200px;margin:0 auto;padding:0 15px;position: relative;}
.content04 .con04_tab {}
.content04 .con04_tab .tab_b {display:block;}
.content04 .con04_tab figure {}
.content04 .con04_tab figure:after {content:"";display:block;width:90px;height:1px;background: #333;position: absolute;top:65px;left:770px;}

.content04 .con04_tab figure:before {content:"";display:block;width:15px;height:15px;background: #333;position: absolute;top:58px;left:860px;border-radius:50%;}

.content04 .con04_tab>div {display:none;}
.content04 .con04_tab>div.on {display:block;}


.content04 .tab_menu {display:block;margin-left:870px;position: absolute;top:50px;left:0;}
.content04 .tab_menu li {display: block;font-size:25px;font-weight: 300;line-height:30px;margin-bottom:20px;color:#7b7b7b;}
.content04 .tab_menu li.on {font-size:28px;font-weight:400;line-height:30px;margin-bottom:20px;color:#333;margin-left:10px;}

.content05 {padding:150px 0;text-align: center;}
.content05 .container {width:1200px;margin:0 auto;padding:0 15px;}
.content05 .container h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:30px;font-weight:500;margin-bottom:30px;letter-spacing:0.025em;}
.content05 .container p {font-size:20px;font-weight:300;margin-bottom:10px;letter-spacing:0.025em;}

.content05 .con05 {margin:0 800px;align-items: center;margin-bottom:40px;}
.content05 .con05_form {border:1px solid #333;line-height:1;border-radius:10px;}
.content05 .con05 input {border:none;outline:none;background:#fff;font-size:14px;font-weight:100;color: #777;padding:5px;}



